# API URLs
VITE_API_URL=http://localhost:3001

# Stripe
VITE_STRIPE_PUBLIC_KEY=pk_test_TU_CLAVE_AQUI

# Mercado Pago
VITE_MP_PUBLIC_KEY=TU_CLAVE_AQUI

# PayPal
VITE_PAYPAL_CLIENT_ID=TU_CLAVE_AQUI

# EVO Payments
VITE_EVO_ENABLED=true
